<!DOCTYPE html>
<html>

<head>
    <script src="http://code.jquery.com/jquery-git2.js"></script>
    <meta charset=utf-8 />
    <title>JS Bin</title>
    <link href='http://fonts.googleapis.com/css?family=Tangerine:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.3.0/pure-min.css" />
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet" />
	
	<link rel="stylesheet" href="stylesheets/style.css">
</head>

<body data-ng-app="unico">
    <%- body%>
</body>

</html>
