<nav class="navbar navbar-default navbar-fixed-bottom">
    <ul class="navbar-nav nav navbar-right">
        <li>
            <a href="javascript:">Galeria</a>
        </li>
        <li>
            <a href="javascript:">Como funciona</a>
        </li>
        <li>
            <a href="javascript:">Sobre nós</a>
        </li>
        <li>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </li>
    </ul>
</nav>