<% layout( "_layout.ejs") %>
    <div class="container-box">
        <div class="slider-big">
            <figure data-ng-repeat="image in product.images" data-ng-class="{selected:image.selected}">
                <img data-ng-src="{{image.normal}}" alt="" width="100%">
            </figure>
        </div>
        <div class="counter" title="300 estão vendo este produto">
            <span class="fa fa-user"></span>&nbsp;{{total}}
            <small>On-line aqui!</small>
        </div>
        <aside class="{{sideMenu}}" data-ng-controller="MenuCtrl">
            
        </aside>
        <main>
            <header>
                <h1>&nbsp;</h1>
            </header>
            <div data-ng-show="loadState===0">
                <br>
                <br>
                <br>
                <br>
                <br>
                <div class="spinner"></div>
            </div>
            <div data-ng-show="loadState===3">
                <br>
                <br>
                <br>
                <div class="panel pendingProducts">
                    <h1 class="panel-heading">Preparando produtos..</h1>
                    <div class="panel-body">
                        <p>Estamos preparando mais produtos para você.</p>
                        <p>No momento, todos foram comprados, aguarde que, em breve, teremos mais noviaddes
                            <strong>únicas</strong>.</p>
                    </div>
                </div>
            </div>
            <main class="square {{paymentStep}}" data-ng-show="loadState===1">
                <div class="trail">
                    <article data-ng-controller="ProductCtrl">
                        
                    </article>
                    <article data-ng-controller="PaymentCtrl">
                        <header>
                            <h1>Forma de pagamento</h1>
                        </header>
                        <%- partial( "payment")-%>
                    </article>
                    <article data-ng-controller="ClientCtrl">
                        <header>
                            <h1>Dados da compra</h1>
                        </header>
                        <%- partial( "client")-%>
                    </article>
                </div>
            </main>
        </main>
    </div>