<div class="control" data-ng-click="closeMenu()"></div>
<h1>&nbsp;</h1>
<br>
<nav>
    <ul class="list-group">
        <li class="list-group-item list-group-item active">Artistas</li>
        <li class="list-group-item">
            <a href="#/01/alaor">Alaor</a>
        </li>
        <li class="list-group-item">
            <a href="#/02/adilson">Adailson</a>
        </li>
        <li class="list-group-item">
            <a href="#/03/valdisney">Valdisnei</a>
        </li>
    </ul>
</nav>