body {
  background: #f9f9f9;
}
.logo {
  z-index: 100;
  position: relative;
  padding: .2em;
  text-shadow: 0 0 10px #ffffff, -1px -1px 0 rgba(255, 255, 255, 0.3), 1px -1px 0 rgba(255, 255, 255, 0.3), -1px 1px 0 rgba(255, 255, 255, 0.3), 1px 1px 0 rgba(255, 255, 255, 0.3);
  font-weight: lighter;
  font-size: 12px;
}
.logo .special {
  font: 40px tangerine;
}
.counter {
  text-shadow: 0 0 10px #ffffff, -1px -1px 0 rgba(255, 255, 255, 0.3), 1px -1px 0 rgba(255, 255, 255, 0.3), -1px 1px 0 rgba(255, 255, 255, 0.3), 1px 1px 0 rgba(255, 255, 255, 0.3);
  width: 80px;
  height: 40px;
  position: absolute;
  top: 2em;
  right: 10%;
  margin: auto;
  text-align: center;
}
.counter small {
  display: block;
}
a {
  text-decoration: none;
  font-style: normal;
  text-shadow: none;
  color: #418fc3;
}
a:hover {
  color: #8fbcdb;
}
a:visited,
a:active {
  color: #0d1f2b;
}
.container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-flex;
  display: flex;
  flex: auto auto 1;
}
.container > aside,
.container > main {
  -webkit-flex: auto auto 1;
}
.container > aside {
  transition: width 300ms linear, height 300ms linear;
  background: #fff;
  border-right: 1px solid gray;
  overflow: hidden;
}
.container > aside > nav.pure-menu {
  border-right: 0;
  border-left: 0;
}
.container > main {
  width: 100%;
}
.square {
  position: absolute;
  height: auto;
  display: block;
  margin: 3%;
  overflow: hidden;
  transition: width 300ms linear, height 300ms linear;
  background: rgba(249, 249, 249, 0.95);
}
.trail > article:after {
  content: "";
  position: absolute;
  height: 0;
  width: 0;
  margin: auto;
}
.trail {
  width: 1020px;
  float: left;
  position: relative;
}
.trail > article {
  width: 340px;
  height: 420px;
  box-sizing: border-box;
  position: relative;
}
.trail > article header {
  background-color: #333;
  height: 84px;
  padding: 1.2em;
  box-sizing: border-box;
  border-bottom: 1px solid #f6f6f6;
  padding-top: 1em;
  color: #d9d9d9;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.6);
  margin-bottom: .5em;
}
.trail > article header h1,
.trail > article header h2 {
  margin-top: 0;
  margin-bottom: .1em;
}
.trail > article header h1 {
  font-size: 1.4em;
}
.trail > article header h2 {
  font-size: 1em;
  letter-spacing: .1em;
  font-weight: lighter;
}
.trail > article section,
.trail > article footer {
  padding: 1em;
}
.pull-right {
  float: right;
}
.pull-left {
  float: left;
}
.slider-big {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: auto;
  height: auto;
  z-index: -1;
  overflow: hidden;
}
@media (min-width: 1020px) {
  .container > aside.closed {
    width: 0;
    border: 0;
  }
  .container > aside.opened {
    width: 280px;
  }
  .square {
    height: 420px;
  }
  .square.closed {
    width: 340px;
  }
  .square.semiopen {
    width: 680px;
  }
  .square.open {
    width: 1020px;
  }
  .trail > article {
    float: left;
    border-right: 1px solid #333333;
  }
  .trail > article:after {
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid #333333;
    border-right: 10px solid transparent;
    right: -21px;
    top: 0;
    bottom: 0;
  }
  .trail > article:last {
    border: none;
  }
}
@media (max-width: 1020px) {
  .container {
    flex-direction: column;
  }
  .container > aside,
  .container > main {
    -webkit-flex: auto auto 1;
    width: 100%;
  }
  .container > aside {
    overflow: hidden;
    width: 100%;
  }
  .container > aside.closed {
    height: 0;
  }
  .container > aside.opened {
    height: 15em;
  }
  .container > main {
    width: 100%;
  }
  .square {
    width: 340px;
    margin-top: 0;
  }
  .square.closed {
    height: 420px;
  }
  .square.semiopen {
    height: 840px;
  }
  .square.open {
    height: 1260px;
  }
  .trail > article {
    border-bottom: 1px solid #f9f9f9;
  }
  .trail > article:after {
    border-top: 10px solid #f9f9f9;
    border-bottom: 10px solid transparent;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    right: 0;
    left: 0;
    bottom: -21px;
    z-index: 2;
  }
}
.slider-control {
  display: block;
  clear: both;
  width: 100%;
  height: 60px;
  margin-bottom: .1em;
  margin: 0;
}
.slider-control figure {
  cursor: pointer;
  float: left;
  position: relative;
}
.slider-control figure img {
  height: 60px;
}
.slider-control figure:hover:after {
  position: absolute;
  height: 100%;
  width: 100%;
  background: white;
  content: "";
  top: 0;
  left: 0;
  opacity: .7;
}
.slider-control figure.selected:after {
  position: absolute;
  height: 100%;
  width: 100%;
  background: rgba(255, 255, 255, 0.3);
  content: "";
  top: -3px;
  left: 0;
  border-top: 3px solid #265778;
}
.slider-control > span {
  display: block;
  width: 30px;
  padding: .5em;
  padding-top: 1.5em;
}
.slider-control .slider-left {
  float: left;
  text-align: right;
}
.slider-control .slider-right {
  float: right;
  text-align: left;
}
input {
  width: 100%;
}
.streetgroupstreet {
  clear: both;
  display: block;
  width: 100%;
  height: 4.2em;
}
.streetgroupstreet > input,
.streetgroupstreet > select {
  display: inline !Important;
  margin-right: 0;
  margin-left: 0;
  float: left;
}
.streetgroupstreet > input {
  padding: 7.5px !Important;
}
.streetgroupstreet select {
  border-radius: 5px 0 0 0;
  border-right: none;
  border-bottom: none;
  width: 20%;
  margin-bottom: 0;
}
.streetgroupstreet #logradouro {
  border-radius: 0;
  border-right: none;
  border-left: none;
  border-bottom: 0;
  width: 60%;
  margin-bottom: 0;
}
.streetgroupstreet #numero {
  border-left: none;
  border-bottom: none;
  border-radius: 0 5px 0 0;
  width: 20%;
  margin-bottom: 0;
}
.streetgroupstreet #compl {
  border-radius: 0 0 0 5px;
  border-top: none;
  width: 20%;
  margin-top: 0;
  border-right: none;
}
.streetgroupstreet #bairro {
  border-radius: 0 0 5px 0;
  width: 80%;
  border-top: none;
  border-left: none;
  margin-top: 0;
}
.citygroup {
  width: 100%;
}
.citygroup select {
  display: inline !Important;
  margin-right: 0;
  margin-left: 0;
  float: left;
}
.citygroup #state {
  width: 20%;
  box-sizing: border-box;
  border-radius: 5px 0 0 5px;
  border-right: 0;
}
.citygroup #city {
  width: 80%;
  box-sizing: border-box;
  border-left: 0;
  border-radius: 0 5px 5px 0;
}
.button-success,
.button-error,
.button-warning,
.button-secondary {
  color: white;
  border-radius: 4px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}
.button-success {
  background: #1cb841;
  /* this is a green */
}
.button-error {
  background: #ca3c3c;
  /* this is a maroon */
}
.button-warning {
  background: #df7514;
  /* this is an orange */
}
.button-secondary {
  background: #42b8dd;
  /* this is a light blue */
}
